<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>List Users</title>
</head>
<body>


<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-brand">
            <span id="admin-email" class="navbar-text"></span>
            <span class="navbar-text">with roles:</span>
            <span id="admin-roles" class="navbar-text"></span>
        </div>
        <a class="btn btn-dark ms-auto" href="/logout" role="button">Logout</a>
    </div>
</nav>

<!--Sidebar and content-->
<div class="container-fluid">
    <div class="row">

        <!--Sidebar-->
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar">
            <div class="position-sticky pt-3">
                <ul id="role-sidebar-links" class="nav flex-column"></ul>
            </div>
        </nav>

        <!--Content-->
        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 bg-light vh-100">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 m-1">
                <h1 class="h2">Admin panel</h1>
            </div>

            <div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="users-tab" data-bs-toggle="tab" data-bs-target="#users"
                                type="button" role="tab" aria-controls="users" aria-selected="true">Users table
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="new-user-tab" data-bs-toggle="tab" data-bs-target="#new-user"
                                type="button" role="tab" aria-controls="new-user" aria-selected="false">New User
                        </button>
                    </li>
                </ul>


                <div class="tab-content bg-white" id="myTabContent">
                    <div class="tab-pane fade show active border p-3" id="users" role="tabpanel"
                         aria-labelledby="users-tab">
                        <div>
                            <h4>All users</h4>
                        </div>

                        <div class="table-responsive border-top">
                            <table class="table table-striped table-sm ">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Username</th>
                                    <th>First name</th>
                                    <th>Last name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Roles</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody id="users-table-body" class="align-middle">
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="tab-pane fade border p-3" id="new-user" role="tabpanel" aria-labelledby="new-user-tab">
                        <div>
                            <h4>Add new user</h4>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-4">
                                <form id="user-create-form" class="p-3">
                                    <div class="mb-3">
                                        <label for="username" class="form-label">Username</label>
                                        <input type="text" class="form-control" id="username" name="username"
                                               placeholder="Username" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="firstName" class="form-label">First name</label>
                                        <input type="text" class="form-control" id="firstName" name="firstName"
                                               placeholder="First name">
                                    </div>
                                    <div class="mb-3">
                                        <label for="lastName" class="form-label">Last name</label>
                                        <input type="text" class="form-control" id="lastName" name="lastName"
                                               placeholder="Last name">
                                    </div>
                                    <div class="mb-3">
                                        <label for="phone" class="form-label">Phone</label>
                                        <input type="text" class="form-control" id="phone" name="phone"
                                               placeholder="Phone" pattern="\d*">
                                    </div>
                                    <div class="mb-3">
                                        <label for="email" class="form-label">Email</label>
                                        <input type="email" class="form-control" id="email" name="email"
                                               placeholder="Email" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="password" class="form-label">Password</label>
                                        <input type="password" class="form-control" id="password" name="password"
                                               placeholder="Password" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="roles" class="form-label">Roles</label>
                                        <select class="form-select" id="roles" name="roles" multiple aria-label="multiply select">
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <button type="submit" class="btn btn-success">Add new user</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<!-- Edit User Modal -->
<div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editUserForm">
                    <input type="hidden" id="editUserId" name="id">
                    <input type="hidden" id="editPassword" name="password">
                    <div class="mb-3">
                        <label for="editUsername" class="form-label">Username</label>
                        <input type="text" class="form-control" id="editUsername" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="editFirstName" class="form-label">First name</label>
                        <input type="text" class="form-control" id="editFirstName" name="firstName">
                    </div>
                    <div class="mb-3">
                        <label for="editLastName" class="form-label">Last name</label>
                        <input type="text" class="form-control" id="editLastName" name="lastName">
                    </div>
                    <div class="mb-3">
                        <label for="editPhone" class="form-label">Phone</label>
                        <input type="text" class="form-control" id="editPhone" name="phone" pattern="\d*">
                    </div>
                    <div class="mb-3">
                        <label for="editEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="editEmail" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="editRoles" class="form-label">Roles</label>
                        <select class="form-select" id="editRoles" name="roles" multiple aria-label="multiply select">
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="confirmEditUserButton">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Remove User Modal -->
<div class="modal fade" id="removeUserModal" tabindex="-1" aria-labelledby="removeUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeUserModalLabel">Remove User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="removeUserForm">
                    <input type="hidden" id="removeUserId" name="id">
                    <div class="mb-3">
                        <label for="removeUsername" class="form-label">Username</label>
                        <input type="text" class="form-control" id="removeUsername" name="username" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="removeFirstName" class="form-label">First name</label>
                        <input type="text" class="form-control" id="removeFirstName" name="firstName" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="removeLastName" class="form-label">Last name</label>
                        <input type="text" class="form-control" id="removeLastName" name="lastName" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="removePhone" class="form-label">Phone</label>
                        <input type="text" class="form-control" id="removePhone" name="phone" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="removeEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="removeEmail" name="email" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="removeRoles" class="form-label">Roles</label>
                        <ul id="removeRoles">

                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger" id="confirmRemoveUserButton">Remove</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    const state = {
        users: [],
        roles: [],
        currentUser: null
    };

    document.addEventListener('DOMContentLoaded', () => {
        // Загрузка данных
        loadAdminDetails();
        loadUsersTable();
        // loadUsers();
        loadRoles();

        // Обработчик отправки формы для создания пользователя

        document.getElementById("user-create-form").addEventListener('submit', createUser);
        // Переменные для модального окна и формы удаления
        window.removeUserModal = new bootstrap.Modal(document.getElementById('removeUserModal'));
        window.removeUserForm = document.getElementById('removeUserForm');
        window.editUserModal = new bootstrap.Modal(document.getElementById('editUserModal'));
        document.getElementById('editUserForm').addEventListener('submit', editUser);

        // Обработчик отправки формы удаления
        removeUserForm.addEventListener('submit', async function (event) {
            event.preventDefault();
            const userId = document.getElementById('removeUserId').value;
            await deleteUser(userId);
        });

        // editUserForm.addEventListener('submit', async function (event) {
        //     event.preventDefault();
        //     // const userId = document.getElementById('editUserId').value;
        //     await editUser;
        // });


    });

    async function loadRoles() {
        try {
            const response = await fetch('/api/roles');
            if (response.ok) {
                state.roles = await response.json();
                await renderRolesOptions();
            } else {
                console.error('Ошибка загрузки ролей.');
            }
        } catch (error) {
            console.error('Ошибка:', error);
        }
    }

    async function renderRolesOptions() {
        const rolesSelect = document.getElementById('roles');
        rolesSelect.innerHTML = '';
        state.roles.forEach(role => {
            const option = document.createElement('option');
            option.value = role.id;
            option.innerText = role.name;
            rolesSelect.appendChild(option);
        });

        const editRolesSelect = document.getElementById('editRoles');
        editRolesSelect.innerHTML = rolesSelect.innerHTML;
    }

    async function loadAdminDetails() {
        try {
            const response = await fetch('/api/user');
            if (response.ok) {
                const admin = await response.json();
                state.currentUser = admin;
                console.log(state.currentUser);
                const sidebarLinks = document.getElementById("role-sidebar-links");
                const adminRoles = admin.roles;
                document.getElementById('admin-email').innerText = admin.email;
                document.getElementById('admin-roles').innerText = admin.roles.map(role => role.name).join(' ');
                adminRoles.forEach(role => {
                    const listItem = document.createElement('li');
                    listItem.classList.add('nav-item');
                    const link = document.createElement('a');
                    link.classList.add('nav-link');
                    link.href = `${role.name.toLowerCase()}`;
                    link.innerText = role.name.charAt(0) + role.name.slice(1).toLowerCase();
                    listItem.appendChild(link);
                    sidebarLinks.appendChild(listItem);
                });
            } else {
                console.error('Ошибка загрузки данных администратора.');
            }
        } catch (error) {
            console.error('Ошибка:', error);
        }
    }

    async function loadUsersTable() {
        try {
            const response = await fetch('/api/users');
            if (response.ok) {
                const users = await response.json();
                const usersTableBody = document.getElementById('users-table-body');
                usersTableBody.innerHTML = '';

                users.forEach(user => {
                    const row = document.createElement('tr');
                    row.innerHTML = `
            <td>${user.id}</td>
            <td>${user.username}</td>
            <td>${user.firstName}</td>
            <td>${user.lastName}</td>
            <td>${user.email}</td>
            <td>${user.phone}</td>
            <td>${user.roles.map(role => role.name).join(' ')}</td>
            <td><button class="btn btn-info btn-sm" id="edit" data-id="${user.id}" onclick="openEditUserModal(${user.id})">Edit</button></td>
            <td><button class="btn btn-danger btn-sm" id="delete" data-id="${user.id}" onclick="openRemoveUserModal(${user.id})">Delete</button></td>
        `;

                    usersTableBody.appendChild(row);

                });

            } else {
                console.error('Ошибка загрузки пользователей.');
            }
        } catch (error) {
            console.error('Ошибка:', error);
        }
    }

    async function createUser(event) {
        event.preventDefault();
        const formData = new FormData(event.target);

        const roleIds = Array.from(formData.getAll('roles'));

        async function findRoleById(id) {
            const response = await fetch(`/api/roles/${id}`);
            if (response.ok) {
                return await response.json();
            } else {
                throw new Error(`Не удалось получить роль с ID: ${id}`);
            }
        }

        const roles = await Promise.all(roleIds.map(async (id) => {
            const role = await findRoleById(id);
            return {
                id: role.id,
                name: role.name,
                authority: role.authority
            };
        }));

        const user = {
            username: formData.get('username'),
            firstName: formData.get('firstName'),
            lastName: formData.get('lastName'),
            phone: formData.get('phone'),
            email: formData.get('email'),
            password: formData.get('password'),
            roles: roles
        };
        console.log(user);
        try {
            const response = await fetch('/api/users', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(user)
            });

            if (response.ok) {
                // Переключение на вкладку с пользователями
                const usersTab = new bootstrap.Tab(document.querySelector('#users-tab'));
                usersTab.show();

                // Перезагрузка таблицы пользователей
                await loadUsersTable();
            } else if (response.status === 409) {
                alert('Username уже существует.');
            } else {
                console.error('Ошибка добавления пользователя.');
            }
        } catch (error) {
            console.error('Ошибка:', error);
        }
    }

    async function openRemoveUserModal(userId) {
        try {
            const response = await fetch(`/api/users/${userId}`);
            if (response.ok) {
                const user = await response.json();
                document.getElementById('removeUserId').value = user.id;
                document.getElementById('removeUsername').value = user.username;
                document.getElementById('removeFirstName').value = user.firstName;
                document.getElementById('removeLastName').value = user.lastName;
                document.getElementById('removePhone').value = user.phone;
                document.getElementById('removeEmail').value = user.email;

                const rolesList = document.getElementById('removeRoles');
                rolesList.innerHTML = '';
                user.roles.forEach(role => {
                    const li = document.createElement('li');
                    li.textContent = role.name;
                    rolesList.appendChild(li);
                });

                removeUserModal.show();
            } else {
                console.error('Ошибка загрузки данных пользователя.');
            }
        } catch (error) {
            console.error('Ошибка:', error);
        }
    }


    async function deleteUser(userId) {
        const currentUser = state.currentUser;
        try {
            const response = await fetch(`/api/users/${userId}`, {
                method: 'DELETE'
            });
            if (response.ok) {

                console.log(currentUser.id);
                console.log(userId);
                // if (currentUser.id == userId) {
                //     logout();
                // }
                await loadUsersTable();
                removeUserModal.hide()
            } else {
                console.error('Ошибка удаления пользователя.');
            }
        } catch (error) {
            console.error('Ошибка:', error);
        }
    }

    // function logout() {
    //     window.location.href = '/logout';
    //     state.currentUser = null;
    // }

    async function openEditUserModal(userId) {
        try {
            const response = await fetch(`/api/users/${userId}`);
            if (response.ok) {
                const user = await response.json();
                document.getElementById('editUserId').value = user.id;
                document.getElementById('editUsername').value = user.username;
                document.getElementById('editFirstName').value = user.firstName;
                document.getElementById('editLastName').value = user.lastName;
                document.getElementById('editPhone').value = user.phone;
                document.getElementById('editEmail').value = user.email;

                const rolesList = document.getElementById('editRoles');
                rolesList.innerHTML = '';
                state.roles.forEach(role => {
                    const option = document.createElement('option');
                    option.value = role.id;
                    option.innerText = role.name;
                    rolesList.appendChild(option);
                });

                editUserModal.show();
            } else {
                console.error('Ошибка загрузки данных пользователя.');
            }
        } catch (error) {
            console.error('Ошибка:', error);
        }
    }

    async function editUser(event) {
        event.preventDefault();
        const formData = new FormData(event.target);

        const roleIds = Array.from(formData.getAll('roles'));

        async function findRoleById(id) {
            const response = await fetch(`/api/roles/${id}`);
            if (response.ok) {
                return await response.json();
            } else {
                throw new Error(`Не удалось получить роль с ID: ${id}`);
            }
        }

        const roles = await Promise.all(roleIds.map(async (id) => {
            const role = await findRoleById(id);
            return {
                id: role.id,
                name: role.name,
                authority: role.authority
            };
        }));

        const user = {
            id: formData.get('id'),
            username: formData.get('username'),
            firstName: formData.get('firstName'),
            lastName: formData.get('lastName'),
            phone: formData.get('phone'),
            email: formData.get('email'),
            password: formData.get('password'),
            roles: roles
        };
        console.log(user);

        try {
            const response = await fetch('/api/users', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(user)
            });

            if (response.ok) {
                // Переключение на вкладку с пользователями
                editUserModal.hide();
                // Перезагрузка таблицы пользователей
                await loadUsersTable();
            } else {
                console.error('Ошибка изменения пользователя.');
            }
        } catch (error) {
            console.error('Ошибка:', error);
        }
        // try {
        //     const response = await fetch('/api/users', {
        //         method: 'PUT'
        //     });
        //     if (response.ok) {
        //         await loadUsersTable();
        //         editUserModal.hide()
        //     } else {
        //         console.error('Ошибка изменения пользователя.');
        //     }
        // } catch (error) {
        //     console.error('Ошибка:', error);
        // }
    }

</script>

<!--<script>-->
<!--    // Управление состоянием-->
<!--    const state = {-->
<!--        users: [],-->
<!--        roles: [],-->
<!--        currentUser: null-->
<!--    };-->

<!--    document.addEventListener('DOMContentLoaded', () => {-->
<!--        // Загрузка данных-->
<!--        loadAdminDetails();-->
<!--        loadUsers();-->
<!--        loadRoles();-->

<!--        // Обработчик отправки формы для создания пользователя-->
<!--        document.getElementById('user-form').addEventListener('submit', createUser);-->

<!--        // Обработчик формы редактирования пользователя-->
<!--        document.getElementById('editUserForm').addEventListener('submit', updateUser);-->
<!--    });-->

<!--    // Загрузка информации об администраторе-->


<!--    // Загрузка ссылок, специфичных для ролей-->
<!--    function loadRoleSpecificLinks(roles) {-->
<!--        const sidebarLinks = document.getElementById('role-sidebar-links');-->
<!--        roles.forEach(role => {-->
<!--            const listItem = document.createElement('li');-->
<!--            listItem.classList.add('nav-item');-->
<!--            const link = document.createElement('a');-->
<!--            link.classList.add('nav-link');-->
<!--            link.href = `${role.name.toLowerCase()}`;-->
<!--            link.innerText = role.name.charAt(0) + role.name.slice(1).toLowerCase();-->
<!--            listItem.appendChild(link);-->
<!--            sidebarLinks.appendChild(listItem);-->
<!--        });-->
<!--    }-->

<!--    // Загрузка пользователей-->
<!--    async function loadUsers() {-->
<!--        try {-->
<!--            const response = await fetch('/api/users');-->
<!--            if (response.ok) {-->
<!--                state.users = await response.json();-->
<!--                renderUsersTable();-->
<!--            } else {-->
<!--                console.error('Ошибка загрузки пользователей.');-->
<!--            }-->
<!--        } catch (error) {-->
<!--            console.error('Ошибка:', error);-->
<!--        }-->
<!--    }-->

<!--    // Загрузка ролей-->
<!--    async function loadRoles() {-->
<!--        try {-->
<!--            const response = await fetch('/api/roles');-->
<!--            if (response.ok) {-->
<!--                state.roles = await response.json();-->
<!--                renderRolesOptions();-->
<!--            } else {-->
<!--                console.error('Ошибка загрузки ролей.');-->
<!--            }-->
<!--        } catch (error) {-->
<!--            console.error('Ошибка:', error);-->
<!--        }-->
<!--    }-->

<!--// Отображение таблицы пользователей-->
<!--function renderUsersTable() {-->
<!--const usersTableBody = document.getElementById('users-table-body');-->
<!--usersTableBody.innerHTML = '';-->

<!--state.users.forEach(user => {-->
<!--const row = document.createElement('tr');-->
<!--row.innerHTML = `-->
<!--<td>${user.id}</td>-->
<!--<td>${user.username}</td>-->
<!--<td>${user.firstName}</td>-->
<!--<td>${user.lastName}</td>-->
<!--<td>${user.email}</td>-->
<!--<td>${user.phone}</td>-->
<!--<td>${user.roles.map(role => role.name).join(', ')}</td>-->
<!--<td>-->
<!--    <button class="btn btn-info btn-sm" onclick="editUser(${user.id})">Редактировать</button>-->
<!--</td>-->
<!--<td>-->
<!--    <button class="btn btn-danger btn-sm" onclick="deleteUser(${user.id})">Удалить</button>-->
<!--</td>-->
<!--`;-->
<!--usersTableBody.appendChild(row);-->
<!--});-->
<!--}-->

<!--    // Отображение опций ролей-->
<!--    function renderRolesOptions() {-->
<!--        const rolesSelect = document.getElementById('roles');-->
<!--        rolesSelect.innerHTML = '';-->
<!--        state.roles.forEach(role => {-->
<!--            const option = document.createElement('option');-->
<!--            option.value = role.id;-->
<!--            option.innerText = role.name;-->
<!--            rolesSelect.appendChild(option);-->
<!--        });-->

<!--        const editRolesSelect = document.getElementById('editRoles');-->
<!--        editRolesSelect.innerHTML = rolesSelect.innerHTML;-->
<!--    }-->

<!--</script>-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
