<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>List Users</title>
</head>
<body>

<h1>List Users</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Roles</th>
        <th>Actions</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.phone}"></td>
        <td>
            <ul>
                <li th:each="role : ${user.roles}" th:text="${role.name}"></li>
            </ul>
        </td>
        <td>
            <a th:href="@{/admin/list-users/edit(id=${user.id})}">
                <button type="button">Edit</button>
            </a>
            <a th:href="@{/admin/list-users/remove(id=${user.id})}">
                <button type="button">Remove</button>
            </a>
        </td>
    </tr>
</table>

<h2>Add User:</h2>
<br>
<form th:action="@{/admin/list-users/add}" th:object="${user}", method="post">
    <input type="hidden" th:field="*{id}" />

    <lable for="username">*Username:</lable>
    <input type="text" id="username" th:field="*{username}" required placeholder="Enter Username"/>
    <div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>

    <br>
    <lable for="password">*Password:</lable>
    <input type="password" id="password" th:field="*{password}" required placeholder="Enter Password"/>
    <br>
    <lable for="name">Name:</lable>
    <input type="text" id="name" th:field="*{firstName}" />
    <br>
    <lable for="surname">Surname:</lable>
    <input type="text" id="surname" th:field="*{lastName}" />
    <br>
    <lable for="email">*Email:</lable>
    <input type="email" id="email" th:field="*{email}" required placeholder="Enter Email"/>
    <br>
    <lable for="phone">Phone:</lable>
    <input type="text" id="phone" th:field="*{phone}" />
    <br>
    <label for="roles">Roles:</label>
    <input type="checkbox" id="roles"
           th:each="role : ${roles}"
           th:text="${role.name}"
           th:value="${role.id}"
           th:field="*{roles}"
    />
    <br>

    <p>Mark * is required</p>


    <button type="submit">Save</button>
</form>

<br>
<a th:href="@{/logout}">
    <button type="button">
        Logout
    </button>
</a>

</body>
</html>