<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1><span th:text="|${user.name}, welcome spring boot security page!|"></span></h1>
<h2>Profile:</h2>
<p th:text="|ID: ${user.id}|"></p>
<p th:text="|Username: ${user.username}|"></p>
<p th:text="|Name: ${user.name}|"></p>
<p th:text="|Surname: ${user.surname}|"></p>
<p th:text="|Email: ${user.email}|"></p>
<p th:text="|Phone number: ${user.phone}|"></p>

<br>
<a th:href="@{/logout}">
    <button type="button">
        Logout
    </button>
</a>
</body>
</html>